pandas==1.1.3
numpy==1.19.4
gcsfs==2021.7.0
scikit-learn==0.23.2
xlrd==1.2.0
mlflow==1.28.0
google-api-python-client==1.12.8
google-cloud-storage==1.33.0
pyquickhelper==1.9.3418
jupyterlab==2.2.9
mlinsights==0.1.199
scipy==1.5.4
matplotlib==3.3.3
pytest===6.1.2
seaborn==0.11.0
openpyxl==3.0.5
google-cloud-bigquery==2.6.1
pyarrow==2.0.0
google-cloud-bigquery-storage==2.1.0
DateTime==4.3
grpcio==1.35.0
oauth2client==4.1.3
statsmodels==0.12.2
google-cloud-pubsub==2.4.1
google-cloud==0.34.0